/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


i.left {
  margin-right: 4px;
}

span {
  margin: 0 15% 0 0;
}

select {
  margin: 25px 0px 9px 0;
}

.card.horizontal {
  padding: 3%;
}

/* .search {
  position: relative;
  left: 63%;
} */

.option-group {
  display: flex;
  align-items: baseline;
  font-weight: bold;
}

nav {
  position: fixed;
  z-index: 999;
}

img {
  width: 55%;
}

.cart-warning {
  border-radius: 0;
    border-width: 4px 0 0 0;
    border-style: solid;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    margin: 4px auto;
    padding: 0px;
    position: relative;
    -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
    transition: .3s cubic-bezier(.25,.8,.5,1);
    background-color: #EF534F;
}


